# deny.toml
[licenses]
# We want really high confidence when inferring licenses from text
confidence-threshold = 0.93
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "MIT",
    "BSD-3-Clause",
    "ISC",
    "Unicode-3.0",
    "Zlib",
]
exceptions = [
    # Use exceptions for these as they only have a single user
    { allow = ["CDLA-Permissive-2.0"], crate = "webpki-roots" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[advisories]
# Example: check for crates yanked or with security advisories
warn-on = ["yanked", "security"]