name: CI

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:

jobs:
  ci:
    name: Rust CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Force correct Rust version
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.88.0
          components: rustfmt, clippy
          override: true

      - name: Check rustc version
        run: rustc --version

      - name: Cache Cargo registry & target
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-cache-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

      - name: Install cargo-deny 0.18
        run: cargo install cargo-deny --version 0.18.5 --locked

      - name: Cache cargo-deny advisory DB
        uses: actions/cache@v4
        with:
          path: ~/.cargo/advisory-db
          key: cargo-deny-advisory-db-${{ hashFiles('**/Cargo.toml') }}

      - name: Run CI checks
        run: |
          cargo fmt --all -- --check
          cargo clippy --all-targets --all-features -- -D warnings
          cargo test --all --all-features --verbose
          cargo deny check licenses bans advisories sources
