name: Security

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:

jobs:
  cargo-deny:
    name: Cargo Deny
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-deny
        run: cargo install cargo-deny

      - name: Run cargo-deny
        run: cargo deny check
